#ignores all unessary files and folders for python projects
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.DS_Store
*.egg-info/
dist/
build/
*.egg
*.log
*.sqlite3
*.db